.App-end .component {
  padding: 1rem;
  color: blue;
  border: 5px solid blue;
}

/* propsとして渡す属性ごとに書いている大差ない． */
.App-end .component.red {
  color: red;
  border: 5px solid red;
}

.App-end .component.green {
  color: green;
  border: 5px solid green;
}